.stocks {
    width: 85vw;
    height: fit-content;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
  }

  .extras {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }