.summary {
    height: fit-content;
    width: 20vw;
    margin: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    color: black;

    &__title {
        font-size: 2rem;
        text-align: center;
    }
    &__avgPrice {
        font-size: 1rem;
    }
}